.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3

*.dSYM/
.gitignore
English.lproj/InfoPlist.strings
Hedgewood
Hedgewood.xcodeproj/project.pbxproj
Hedgewood_Prefix.pch
Info.plist
SDLMain.h
SDLMain.m